<!doctype html>
<html>
<head>
    {{ partial "meta" . }}
</head>
<body>
	<div class="page">

		<header class="">
            {{ partial "header" . }}
		</header>
        
		<nav id="navigation">
			{{ partial "nav" . }}
		</nav>

		<div class="slides">
			{{ partial "slides" . }}
		</div>

		<div class="content-holder">
            {{ partial "content" . }}
        </div>
        
	</div>

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/code.js"></script>

</body>
</html>